body{
	background-repeat:no-repeat;
	background-size:100% 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
*{
	margin:0;
	padding:0;
}
#header{
	height:30%;
}
#tianqi{
	margin:4% 4% 0 0;
	float:right;
	opacity: 0.75;
}
#search{
	height:20%;
	float:left;
	width:80%;
	margin-top:8%;
}
#search-engine{
	margin-left:70px;
	height:40px;
	width:40px;
	border: none;
	float:left;
	border-radius: 6px 0 0 6px;
	background-color:F5F5F5;
	cursor:pointer;
}
#search-textbox{
	opacity: 0.8;
	height:40px;
	width:55%;
	border-radius: 0 0 0 0;
	border: none;
    	outline: none;
	font-size: 16px;
	float:left;
	padding-left:3px;
	caret-color:#808080;
}
#search-btn{
	opacity: 0.8;
	height:40px;
	width:40px;
	border: none;
	border-radius: 0 6px 6px 0;
	float:left;
	cursor:pointer;
	font-size:18px;
}
#main{
	height:60%;
	width:100%;
}
#no-content1{
	height:20%;
}
#url-list{
	margin-left:60px;
	margin-right:60px;
	background-color:rgba(255,255,255,0.08);
	border-radius: 7px 7px 7px 7px;
	padding:1% 1% 1% 1%;
}
.row{
	width:100%;
	display:table;
}
.row0{
	background-color:rgba(255,255,255,0.08);
	border-radius: 6px 6px 6px 6px;
}
.row div{
	text-align:center;
	width:10%;
	float:left;
	font-size:15px;
	padding-top:10px;
	padding-bottom:10px;
	white-space: nowrap;
	overflow: hidden;
	display:table-cell;
}
.row .group-name{
	color:rgba(255,255,255,0.80);
	font-weight:normal;
	border-right:3px solid rgba(0,0,0,0.2);
	cursor:pointer;
}
.row a{
	text-decoration: none;
	color:rgba(233,231,245,0.7);
	font-weight:normal;
}
#footer{
	height:10%;
}
#no-content2{
	height:100%;
}
#footer-content{
	height:50px;
	margin-top:-50px;
	text-align:center;
}
#footer-content a{
	text-decoration:none;
	font-size:11px;
	color:rgba(211,211,211,0.2);
}
#footer-content p{
	font-size:11px;
	color:rgba(211,211,211,0.2);
	line-height:180%;
}

